//- @pugdoc
    This mixin is named text-mixin and contains two params:
    one is a string and the second one is a boolean

    @param {string} param This parameter is a string
    @param {boolean} boolParam This parameter is a boolean
mixin test-mixin(param, boolParam = false)
    block

//- @pugdoc
    This mixin also needs to be documented

    @param {string} param This parameter is a string
    @param {{
        bool: boolean,
        str: string
    }} interfaceParam An interface parameter
mixin second-mixin(param, interfaceParam)
    block