.navbar.navbar-default.navbar-fixed-top.navbar-inverse
    .container
        .navbar-header
            a.navbar-brand(href="index.html")=options.formatting.title
            button.navbar-toggler(type="button", data-toggle="collapse", data-target="#topNavigation")
        
        .navbar-collapse.collapse#topNavigation
            